.name {
  color: rgb(4, 4, 5);
}

.box {
  width: 100px 100px
}

.button {
  font-weight: 16px;
  color: white;
  background-color: rgb(24, 119, 242);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  cursor: pointer;

}